.App {
  padding-bottom: 3rem;
}

.back {
  background: transparent;
  color: var(--fg);
  border: 0.125 solid var(--fg);
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
}

.back:hover {
  background-color: var(--card);
  border: 0.01rem solid var(--text-hover);
  color: var(--fg);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
