.overview-markdown ul,
.overview-markdown ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.overview-markdown li {
  margin-bottom: 0.5rem;
}

.overview-markdown {
  background: var(--card);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 2em;
  padding: 2em;
  border-radius: 2em;
}
