.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* Fullscreen height */
  overflow: hidden;
  z-index: 1; /* Lower than the navbar */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes the image cover the container */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.carousel-image.sliding {
  transform: translateX(-100%); /* Slide out to the left */
}

.carousel-image:not(.sliding) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadeIn 0.5s forwards; /* Fade in animation */
}

.carousel-image:not(.sliding) {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Smooth transition for fade */
}

.carousel-indicators {
  position: absolute;
  bottom: 20px; /* Adjust this value to position the indicators */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #bbb; /* Default indicator color */
  border-radius: 50%;
  margin: 0 5px;
  padding: 0.5rem !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #717171; /* Active indicator color */
}

.indicator:hover {
  background-color: #888; /* Hover effect for indicators */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
